---
export interface Props {
  text: string;
  position?: "left" | "right" | "none";
}

const { text, position = "none" } = Astro.props;

const baseClasses =
  "w-fit px-[54px] py-[9px] rounded-[50px] border border-[#251893] text-[#251893] font-semibold text-[14px] leading-[22px] tracking-normal text-center hover:opacity-80 transition-opacity";
const positionClasses =
  position === "right" ? "ml-auto" : position === "left" ? "mr-auto" : "";
---

<button class={`${baseClasses} ${positionClasses}`}>
  {text}
</button>
