---
import { Image } from "astro:assets";
import Button from "./Button.astro";
---

<section id="projects" class="bg-brand-accent py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Left column for Skill/Tools button and additional content -->
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <Button text="Skill / Tools" />
        <div class="mt-8">
          <img src="/images/tools.png" alt="Tools" class="w-full max-w-md" />
        </div>
      </div>

      <!-- Right column for title -->
      <div class="w-full md:w-1/2 text-center md:text-right">
        <h2
          class="font-inter font-black text-brand-dark text-4xl md:text-5xl lg:text-6xl leading-tight md:leading-snug lg:leading-[72px] tracking-normal"
        >
          My Projects/<br />Works
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
      <a href="#" class="block group" target="_blank" rel="noopener noreferrer">
        <img
          src="https://picsum.photos/seed/project1/425/300.jpg"
          alt="Project 1"
          width="425"
          height="300"
          loading="lazy"
          class="object-cover rounded-lg transition-transform duration-300 group-hover:scale-105"
        />
      </a>
      <a href="#" class="block group" target="_blank" rel="noopener noreferrer">
        <img
          src="https://picsum.photos/seed/project2/425/300.jpg"
          alt="Project 2"
          width="425"
          height="300"
          loading="lazy"
          class="object-cover rounded-lg transition-transform duration-300 group-hover:scale-105"
        />
      </a>
      <a href="#" class="block group" target="_blank" rel="noopener noreferrer">
        <img
          src="https://picsum.photos/seed/project3/425/300.jpg"
          alt="Project 3"
          width="425"
          height="300"
          loading="lazy"
          class="object-cover rounded-lg transition-transform duration-300 group-hover:scale-105"
        />
      </a>
    </div>
  </div>
</section>
