---
import { Image } from "astro:assets";
import toolsImage from "../../public/images/tools.png";
import Button from "./Button.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projects = await getCollection("projects");
type ProjectEntry = CollectionEntry<"projects">;
---

<section id="projects" class="bg-brand-accent pt-6 pb-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Left column for Skill/Tools button and additional content -->
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <div data-animate>
          <Button text="Skill / Tools" />
        </div>
        <div data-animate class="mt-8 animate-delay-200">
          <Image
            src={toolsImage}
            alt="Tools"
            width={500}
            height={500}
            class="w-full max-w-md"
          />
        </div>
      </div>

      <!-- Right column for title -->
      <div class="w-full md:w-1/2 text-center md:text-right pt-8 md:pt-0">
        <h2
          data-animate
          class="font-inter font-black text-brand-dark text-4xl md:text-5xl lg:text-6xl leading-tight md:leading-snug lg:leading-[72px] tracking-normal animate-delay-100"
        >
          My Projects/<br />Works
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
      {
        projects.map((project: ProjectEntry, index: number) => {
          const delayClasses = [
            "",
            "animate-delay-100",
            "animate-delay-200",
            "animate-delay-300",
            "animate-delay-400",
            "animate-delay-500",
          ];
          return (
            <a
              data-animate
              href={project.data.link}
              class={`block group ${delayClasses[index] || ""}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Image
                src={project.data.image}
                alt={project.data.alt}
                width={425}
                height={300}
                loading="lazy"
                class="w-full object-cover rounded-lg transition-transform duration-300 group-hover:scale-105 shadow-[6px_6px_6px_0px_rgba(0,0,0,0.25)]"
              />
            </a>
          );
        })
      }
    </div>
  </div>
</section>
