---
import { Image } from "astro:assets";
import toolsImage from "../../public/images/tools.png";
import Button from "./Button.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projects = await getCollection("projects");
type ProjectEntry = CollectionEntry<"projects">;
---

<section id="projects" class="bg-brand-accent py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Left column for Skill/Tools button and additional content -->
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <Button text="Skill / Tools" />
        <div class="mt-8">
          <Image
            src={toolsImage}
            alt="Tools"
            width={500}
            height={500}
            class="w-full max-w-md"
          />
        </div>
      </div>

      <!-- Right column for title -->
      <div class="w-full md:w-1/2 text-center md:text-right">
        <h2
          class="font-inter font-black text-brand-dark text-4xl md:text-5xl lg:text-6xl leading-tight md:leading-snug lg:leading-[72px] tracking-normal"
        >
          My Projects/<br />Works
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
      {
        projects.map((project: ProjectEntry) => {
          return (
            <a
              href={project.data.link}
              class="block group"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Image
                src={project.data.image}
                alt={project.data.alt}
                width={425}
                height={300}
                loading="lazy"
                class="object-cover rounded-lg transition-transform duration-300 group-hover:scale-105"
              />
            </a>
          );
        })
      }
    </div>
  </div>
</section>
